* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-image: linear-gradient(
    to bottom right,
    rgb(131, 90, 1),
    rgb(184, 126, 2),
    rgb(206, 141, 2),
    rgb(255, 183, 29),
    rgb(252, 213, 130),
    rgb(252, 213, 130)
  );
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: black;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 15px;
  background-color: rgba(189, 2, 2, 0.623);
  border-radius: 10px;
  border: 2px solid black;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

img {
  width: 220px;
}

header h1{
  font-size: 50px;
}

.ranking-wrapper {
  background: rgb(155, 154, 154);
  padding: 10px 30px 30px 30px;
  border-radius: 15px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
  width: 100%;
  max-width: 900px;
  height: 740px;
  text-align: center;
  border: 2px solid black;
}

.ranking-wrapper h1 {
  margin-bottom: 10px;
  font-size: 30px;
  color: #222;
}

.ranking-list {
  list-style: none;
  padding: 0;
}

.ranking-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  padding: 10px 15px;
  margin-bottom: 15px;
  background: rgb(231, 229, 229);
  border-radius: 8px;
  border: 2px solid black;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  color: #000;
}

.ranking-list img {
  width: 110px;
  height: 130px;
  border-radius: 10px;
  object-fit: cover;
  border: 1px solid black;
}

.ranking-list li:nth-child(1) {
  background: gold;
  font-weight: bold;
}

.ranking-list li:nth-child(2) {
  background: silver;
  font-weight: bold;
}

.ranking-list li:nth-child(3) {
  background: #cd7f32; /* bronze */
  font-weight: bold;
}

.team-info {
  display: flex;
  align-items: center;
  gap: 15px;
  flex: 1;
}

.team-name {
  font-weight: bold;
  font-size: 32px;
}

input[type="number"] {
  width: 150px;
  height: 80px;
  padding: 6px;
  font-size: 35px;
  text-align: center;
  border: 2px solid #ccc;
  border-radius: 5px;
  transition: border 0.3s ease;
}

input[type="number"]:focus {
  border-color: #007bff;
  outline: none;
}
